name: py
on:
  schedule:
    - cron: "6 5 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses:  actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: install crawling package
        run: pip install bs4
      - name: install requests package
        run: pip install requests
          
      - name: execute py script # run the run.py to get the latest data
        run: python run.py
      - name: git stuff
        run: |
          git config --global user.name "jfarrellhfx"
          git config --global user.email "jfarrellhfx@gmail.com"

          git add .
          git commit -m "new day"
          git push
